

.Top10News
{
    display: flex;
    width: 70%;
    margin-left: 20%;
    column-count: 2;
    flex-direction: column;
    justify-content: center;
    
}

.Top10mini
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.title{
    text-align: center;
}

.Loadmore{
    border-radius: 5px;
    background-color: aqua;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 45%;
    padding: 5px;
    cursor: pointer;
}
