.nav {
    height: 71px;
    width: 100%;
    background-color: #8a8ab5;
    box-shadow: 0px 1px 8px #888888;
    display: flex;
    align-items: center;
    justify-content: space-between;
    #navbar-logo {
        height: 120%;
        
    }
    .logout{
        cursor: pointer;
        border-radius: 3px;
    }
    .nav-items {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 10px;
        a {
            margin: 0 10px;
            text-decoration: none;
            color:black;
            font-weight: bold;
            font-size: large;
            &:hover,
            &:focus {
                color: blue;
            }
        }
    }
}





